
.form-control {
align-items: center;
}
.add_button {
margin: 10px 0px 10px 0px;
width: 80px;
height: 40px;
align: center;

}
.checkbox {
margin-top: 20px;
}
.completed_item {
text-decoration: line-through;
}
h1 {
color: #e6ffff;
float: center;
}
body {
background-color: #333333;
font-family: 'Denk One', sans-serif;
}
.text_holder {
display: block;
max-width: 100%;
word-wrap: break-word;
}
#main {
margin-top: 150px;
background-color: #004d4d;
border-radius: 5px;
width: 50%;
border: 1px solid #545454;
float: center;
margin-right: auto;
margin-left: auto;
}
#main_input_box{
float: center;
align-content: center;
padding-left: 50px;
}
#custom_textbox{
align: center;
}
