.form-control {
align-items: center;
}

#main{
float: center;
position: relative;
margin-top: 150px;
background-color: #403f3f;
border-radius: 20px;
width: 700px;
border: 10px solid #4073bf;
float: center;
margin-right: auto;
margin-left: auto;
}

.checkbox {
margin-top: 40px;
margin-bottom:auto;
margin-right: 10px;
}
.completed_item {
text-decoration: line-through;
}
h1 {
font-family: 'Source Sans Pro', sans-serif;
/*font-family: 'Quicksand', sans-serif;*/
color: #ffffff;
float: center;
font-size: 50px;
position: relative;
/*background-color: #47476b;*/
margin-bottom: 0px;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
}
body {
background-color: #cccccc;
font-family: 'Quicksand', sans-serif;
font-size: 20px;
}
.text_holder {
display: block;
color: #FFFFFF;
max-width: 100%;
word-wrap: break-word;
}
#main_input_box{
position: relative;;
float: center;
align-content: center;
padding-left: 165px;
/*background-color: #47476b;*/
margin-bottom: 15px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
}
#custom_textbox{
position: relative;
align: center;
border: 3px dashed #D1C7AC;
width: 350px;
margin: 10px 0px 0px -15px;
}
.list_of_items{
color:#FFFFFF;	
}
.text_holder{
/*border: 2px dashed #D1C7AC;*/
padding: 10px;
color: #FFFFFF;
}
.list-group-item{
border: 3px solid #FFFFFF;
padding: 5px;
background-color: transparent;
border-radius: 5px;
margin: 4px;
}
.edit_input_box{
margin-left:5px;	
}
.completed_item{
border: 3px solid #FFFFFF;
padding: 2px;
background-color: transparent;
border-radius: 15px;
margin: 4px;
}
.delete{
background-color: #ff5050;
border: 5px solid #ff5050;
}
.edit{
background-color: #40bf40;
border: 5px solid #40bf40;
}
.add_button{
background-color: #4073bf;
border: 5px solid #4073bf;
margin: 10px 0px 0px 95px;
width: 125px;
height: 40px;
position: relative;
float: center;
}